In [2]:
import pandas as pd

The system cannot find the path specified.

In [9]:
dbpath='E:/Box Sync/datarepo/levin/multilog/db/'
!cd dbpath

The system cannot find the path specified.

In [58]:
pd.read_csv('Node 001-1-001.Res',nrows=16,header=None,sep='\t').set_index(0)

                                          1
0
Network Description    Lancaster University
Network Collection                    Com 1
Network Domain                       Net_01
Subnet Description           The Roundhouse
Subnet Collection                         1
Node Description                     Meters
Node Collection                           1
Node ID                        050157B2F300
Input Description            Electric Meter
Input Collection                          1
Meter Constants                           1
Transformer Constants                     1
Max Meter-Reading                9999999.99
Data Unit                               kWh
Storage Method                     Minutely
Storage Duration                         30

In [61]:
df1=pd.read_csv('Node 001-1-001.Res',nrows=16,header=None,sep='\t').set_index(0)
df2=pd.read_csv('Node 001-1-001.Res',skiprows=16,nrows=1,header=None,sep='\t').set_index(0)

In [62]:
df1.T[['Subnet Description',\
            'Node ID',\
            'Input Description',\
            'Input Collection',\
            'Meter Constants',\
            'Transformer Constants',\
            'Data Unit']]

,Subnet Description,Node ID,Input Description,Input Collection,Meter Constants,Transformer Constants,Data Unit
1,The Roundhouse,050157B2F300,Electric Meter,1,1,1,kWh

In [55]:
df1['Current Meter-reading']=df2.values[0][0]+' '+df2.values[0][1]+' '+str(df2.values[0][2])

In [57]:
df1.to_excel('out.xls')